/* Formatos */

:root{
    --font-color: #2C3345;
    --color-fondo: #F3F3FE;
    --border-input: #b8bdc9;
    --label-color: #57647e;
}

.body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
}

.header{
    font-size: 3vw;
    text-align: center;
    margin-top: 7vw;
    margin-bottom: 2vw;
}

/* Diseño general */

.h1{
    font-weight: 500;
    font-size: 1.5vw;
    margin: 1vw 0;
    text-align: center;
    padding-bottom: 2vw;
    font-weight: bold;
    border-bottom: 0.5px solid var(--border-input);
}

.h2{
    font-weight: 300;
    border-bottom: solid 2px var(--color-fondo);
    padding-bottom: 2vw;
    margin: 2vw 0;
    font-size: 1.2vw;
    font-weight: bold;
}

.h3{
    font-weight: normal;
    font-size: 1.1vw;
    margin: 2vw 0 1.5vw 0;
}

/* Inputs */

.label{
    margin: 0.5vw 0 1vw 0;
    font-weight: normal;
}

.label-text{
    font-size: 0.9vw;
    color: var(--label-color);
    margin-top: 0;
}

.label-titulo{
    font-size: 1.1vw;
}

.label-checkbox{
    font-size: 1.1vw;
}

.input-text, .input{
    padding: 1%;
    width: 50%;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    border: solid 1px #b8bdc9;
    border-radius: 4px;
    font-weight: lighter;
}


.input-largo{
    width: 100%;
}

.input-date{
    padding: 1%;
    width: 50%;
    margin-bottom: 1vw;
    border: solid 1px #b8bdc9;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 1.1vw;
}

.input-datetime{
    padding: 1%;
    width: 50%;
    font-size: 1.1vw;
    margin-bottom: 1vw;
    border: solid 1px #b8bdc9;
    border-radius: 4px;
    font-weight: lighter;
}

.input-radio{
    width: 1.7vw;
    height: 1.7vw;
    margin-bottom: 1vw;
    border: solid 1px #b8bdc9;
    border-radius: 4px;
    font-weight: lighter;
}

.input-checkbox{
    width: 1.5vw;
    height: 1.5vw;
}

.select{
    padding: 1%;
    width: 50%;
    border: solid 1px #b8bdc9;
    border-radius: 4px;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    font-weight: lighter;
}

.label-select{
    font-size: 1.1vw;
    margin: 2vw 0;
    font-weight: bold;
    color: var(--font-color);
}

/* Diseño específico */

.div-par{
    display: flex;
    flex-direction: column;
}

#user-form{
    background-color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4%;
    box-shadow: 0 4px 4px rgba(87,100,126,.21);
    border-radius: 4px;
}

/* Establecimiento sanitario */

#establecimiento-sanitario{
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

/* Datos personales */

.dos-divs-juntos{
    display: flex;
    justify-content: space-between;
}

.dos-divs-juntos div{
    display: flex;
    flex-direction: column-reverse;
}

.dos-divs-juntos div input{
    margin-top: 1vw;
    padding: 2%;
    width: 21vw;
}

.dos-divs-juntos div label{
    margin-top: .5vw;
}

.fecha-nacimiento{
    display: flex;
    flex-direction: column-reverse;
}

.div-largo{
    display: flex;
    flex-direction: column-reverse;
}

.div-separacion{
    margin: 1vw 0;
}

/* Condición salud paciente */

.div-pregunta-radio{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.div-dos-radio{
    display: flex;
    align-items: center;
}

.div-dos-radio label{
    margin: 0 0 1vw 0.5vw;
}

/* Ingreso paciente guardia */

.div-select{
    margin: 2vw 0;
}

.div-select-multiple{
    margin: 2vw 0;
}

.select-scroll{
    overflow-y: auto;
    width: 100%;
    height: 40vw;
    padding: 2%;
}

.select-scroll::-webkit-scrollbar{
    width: 8px;
}

.select-scroll::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 4px;
}

.select-scroll::-webkit-scrollbar-track{
    background-color: #eee;
    border-radius: 4px;
}

.elementos-de-seguridad{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.div-checkbox{
    display: flex;
    align-items: center;
}

.div-checkbox .label-checkbox{
    margin-left: 0.6vw;
}

.div-tres-radio{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* Botones */

.botones-form{
    display: flex;
    justify-content: flex-end;
}

.btn-enviar{
    width: 9vw;
    height: 3.5vw;
    color: white;
    background-color: #2e69ff;
    border: none;
    border-radius: 4px;
    font-size: 1.5vw;
}